*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy-Bold';
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-auto-rows: 100px; /* Set base height for rows */
  gap: 10px;
  padding: 20px;
  background-color: #f0f0f0;
}

.grid-item {
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  grid-column: span 1;
  grid-row: span 4;
  background-color: #474448;
}

.item2 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #2d232e;
}

.item3 {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #e0ddcf;
}

.item4{
  grid-column: span 1;
  grid-row: span 3;
  background-color: #BEB7A4;
}

.item5{
  grid-column: span 2;
  grid-row: span 2;
  background-color: #402A2C;
}

.item6{
  grid-column: span 1;
  grid-row: span 1;
  background-color: #534b52;
}

video {
  object-fit: contain;
  border-radius: 12px;
  width: 50px;
}

.glass_effect{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); /* translucent */
  border-radius: 20px;
  padding: 10px 10px;
  width: 300px;
  color: white;
  backdrop-filter: blur(15px); /* this is the magic! */
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  cursor:pointer;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.about{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}


.typing-container {
  font-size: 18px;
  color: #2d232e;
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid #2d232e;
  white-space: nowrap;
  animation: typingLoop 10s steps(14) infinite;
}

.cursor {
  animation: blink 0.7s step-end infinite;
}

@keyframes typingLoop {
  0% {
    width: 0;
  }
  30% {
    width: 14ch; /* Fully typed */
  }
  70% {
    width: 14ch; /* Hold */
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.resume{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.card {
  background: #6366f1;
  padding: 20px 40px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #ffffff10;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(16px);
  padding: 30px;
  border-radius: 20px;
  /* width: 400px; */
  /* text-align: center; */
  color: #fff;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

.card_project{
  display: none;
}
.card_project h1{
  color: #2d232e;
  text-shadow: 5px 2px 6px white;
}
.projects_section{
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  gap: 20px;
  margin: 10px;
  padding-right: 16px;
  overflow: scroll;
  scrollbar-color: rgb(198, 191, 191) transparent;
}
.projectall{
  padding: 10px;
  min-height: 230px;
  min-width: 250px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #474448;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.projectall p{
  font-size: 18px;
}
.projectall h1{
  color: white;
  text-shadow: 0px 0px 0px transparent;
}
a{
  text-decoration: none;
  color: wheat;
}
a:visited{
  color: wheat;
}

.card_education{
  display: none;
}
.card_education h1{
  color: #2d232e;
  text-shadow: 5px 2px 6px white;
}
.education_section{
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 530px;
  gap: 10px;
  margin: 10px;
  padding-right: 16px;
  overflow: scroll;
  scrollbar-color: rgb(198, 191, 191) transparent;
}
.educationall{
  padding: 10px;
  min-height: 160px;
  min-width: 250px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #2d232e;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.educationall p{
  font-size: 15px;
}
.educationall h1{
  color: white;
  text-shadow: 0px 0px 0px transparent;
}

.card_about{
  display: none;
}
.card_about h1{
  color: #242424;
  text-shadow: 4px -1px 4px white;
}
.about_section{
  background-color: #BEB7A4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 500px;
  /* margin: 10px; */
  gap: 20px;
  justify-content: space-around;
  /* align-items: center; */
  padding: 20px;
}
.skill{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_contact{
  display: none;
}
.card_contact h1{
  color: #2d232e;
  text-shadow: 5px 2px 6px white;
}
.contact_section{
  display: flex;
  width: 500px;
  /* height: 500px; */
  margin: 10px;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.contactall{
  max-width: fit-content;
  max-height: fit-content;
  margin: 10px;
  text-align: center;
}
.circle{
  background-color: white;
  border-radius: 50%;
  border: 4px solid white;
}
.contactall p{
  font-size: 15px;
}
.contactall h1{
  color: white;
  text-shadow: 0px 0px 0px transparent;
}
.contactall img{
  width: 120px;
  height: 120px;
}

strong{
  color:#2d232e;
  font-size: 23px;
}